{% extends 'base.html' %}
{% load urlify_filter %}
    {% block head_title %}
        {{ instance.title }} | {{ block.super }}
    {% endblock %}
    {% block content %}
        <div class="col-sm-6 col-sm-offset-3">
        {% if instance %}
            <h1>{{ title }} <small>{{instance.publish}}</small></h1>
            <p>Author: {{instance.user.username}}</p>
            {% if instance.image %}
                <img src="{{instance.image.url}}" class='img-responsive'>
            {% endif %}
            {{instance.content | linebreaks}}<br/>
        {% endif %}
        </div>

    {% endblock %}